project     = "ck-cluster"
aws_region  = "us-east-1" # "us-east-1", "ap-southeast-1"
environment = "test"

# VPC
az_set              = ["us-east-1c", "us-east-1a"]
main_vpc_cidr_block = "10.25.0.0/24"

private_subnets = ["10.25.0.128/26", "10.25.0.192/26"]
public_subnets  = ["10.25.0.0/26", "10.25.0.64/26"]

enable_natgw = false

# Master
master_instance_type  = "t3a.medium"
master_disk_size      = 20
master_count          = 1
master_name           = "k8s-master"
master_ssh_publickey  = "~/.ssh/id_rsa.pub"
master_ssh_privatekey = "~/.ssh/id_rsa"
master_username       = "ubuntu"

# Worker
worker_instance_type  = "t3a.medium"
worker_disk_size      = 30
worker_count          = 2
worker_name           = "k8s-worker"
worker_ssh_publickey  = "~/.ssh/id_rsa.pub"
worker_ssh_privatekey = "~/.ssh/id_rsa"
worker_username       = "ubuntu"

# Kube
kube_version = "v1.30"